name: Build

on:
  push: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.0.0
        
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
          
      - name: Run CodeBuild
        uses: aws-actions/aws-codebuild-run-build@v1.0.3
        env:
          GHCRIO_TOKEN: ${{ secrets.GHCRIO_TOKEN }}
          GHCRIO_USER: ${{ secrets.GHCRIO_USER }}
        with:
          project-name: codebuild-image-uploader
